<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <import resource="classpath*:ioc/ioc-*.xml"/>
    <import resource="classpath*:dao/dao-*.xml"/>
    <import resource="classpath*:aop/aop-*.xml"/>
    <import resource="classpath*:service/service-*.xml"/>

    <bean id="lazyObject" class="io.github.haoding0713.LazyObject" lazy-init="true" init-method="init" destroy-method="cleanUp">
        <constructor-arg value="I'm a lazy Object !!! DoDoDo !!!" />
    </bean>

</beans>